@font-face {
  font-family: "Helvetica Now Regular";
  src: url("https://cdn-resource.zenlove.me/fonts/webfonts/helvetica-now-regular/helvetica-now-regular-1765738865134-ecmldw.woff2")
      format("woff2"),
    url("https://cdn-resource.zenlove.me/fonts/webfonts/helvetica-now-regular/helvetica-now-regular-1765738865134-ecmldw.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
