.page-wrapper {
  margin-left: calc(0px + 260px);
  transition: 0.2s ease-in;
  @media screen and (max-width: 1280px) {
    margin-left: 0 !important;
  }
}
.menu-sidebar {
  flex-shrink: 0;
  z-index: 99;
  transition: 0.2s ease-in;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
}
.brand-logo img {
  max-width: unset;
}
.sidebar .caption {
  letter-spacing: 1.5px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .dashboard-wrapper {
    padding: 0 !important;
  }
}
