@font-face {
  font-family: __inter_5736b1;
  src: url(/wedding/static/media/a1db723976e507d7-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: __inter_5736b1;
  src: url(/wedding/static/media/adc5e93683f5a2c6-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: __inter_5736b1;
  src: url(/wedding/static/media/3558e0041c416c73-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: __inter_5736b1;
  src: url(/wedding/static/media/56a11d287de9714c-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: __inter_Fallback_5736b1;
  src: local("Arial");
  ascent-override: 91.59%;
  descent-override: 22.81%;
  line-gap-override: 0%;
  size-adjust: 105.77%;
}
.__className_5736b1 {
  font-family: __inter_5736b1, __inter_Fallback_5736b1, sans-serif;
}
@font-face {
  font-family: __openSans_f7b2f0;
  src: url(/wedding/static/media/c4e470753d78486c-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: __openSans_f7b2f0;
  src: url(/wedding/static/media/90d6cd998d31eb7e-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: __openSans_f7b2f0;
  src: url(/wedding/static/media/2244c16c97733397-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: __openSans_f7b2f0;
  src: url(/wedding/static/media/b8ae8644749f72e9-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: __openSans_Fallback_f7b2f0;
  src: local("Arial");
  ascent-override: 101.58%;
  descent-override: 27.84%;
  line-gap-override: 0%;
  size-adjust: 105.22%;
}
.__className_f7b2f0 {
  font-family: __openSans_f7b2f0, __openSans_Fallback_f7b2f0, sans-serif;
}
.__variable_f7b2f0 {
  --font-opensans: "__openSans_f7b2f0", "__openSans_Fallback_f7b2f0", sans-serif;
}
@font-face {
  font-family: __robotoMono_ac503b;
  src: url(/wedding/static/media/19b5beb679797c73-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: __robotoMono_ac503b;
  src: url(/wedding/static/media/7099cade1a4d5b27-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: __robotoMono_ac503b;
  src: url(/wedding/static/media/d770ae5ec39c67a6-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: __robotoMono_ac503b;
  src: url(/wedding/static/media/7265c999a657c0a4-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: __robotoMono_Fallback_ac503b;
  src: local("Arial");
  ascent-override: 79.68%;
  descent-override: 20.61%;
  line-gap-override: 0%;
  size-adjust: 131.51%;
}
.__className_ac503b {
  font-family: __robotoMono_ac503b, __robotoMono_Fallback_ac503b, monospace;
}
.__variable_ac503b {
  --font-roboto-mono: "__robotoMono_ac503b", "__robotoMono_Fallback_ac503b",
    monospace;
}
