@font-face {
  font-family: "Ebgaramond Medium";
  src: url("https://quyctd.dev/wedding/cdn-resource/fonts/webfonts/ebgaramond-medium/ebgaramond-medium-1765171525625-sft7r2.woff2")
      format("woff2"),
    url("https://quyctd.dev/wedding/cdn-resource/fonts/webfonts/ebgaramond-medium/ebgaramond-medium-1765171525625-sft7r2.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
